<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeDetails; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.age}}</td>
          </tr>
        </tbody>
      </table>
</div>
