<div class="instructions">
    <h2 class="mb-3">Steps to play the game</h2>
    <ol class="d-inline-block text-start">
      <li>Find the Blue Ball from set of 20 balls.</li>
      <li>Click on the balls to guess.</li>
      <li>If the ball turns Yellow the Blue ball is before to it.</li>
      <li>If the ball turns Red the Blue ball is next it.</li>
      <li>You have maximum of 4 attempts</li>
    </ol>
    <button class="btn btn-primary d-block mx-auto" (click)="onStart($event)">
      Start
    </button>
  </div>